*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FEF9EF;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2.5fr 1.5fr;
      grid-template-columns: 1.5fr 2.5fr 1.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 1385px) {
  .nav {
    -ms-grid-columns: 1fr 2.5fr 2fr;
        grid-template-columns: 1fr 2.5fr 2fr;
  }
}

@media only screen and (max-width: 1080px) {
  .nav {
    -ms-grid-columns: 2fr 1.5fr;
        grid-template-columns: 2fr 1.5fr;
    padding: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .nav {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
}

.nav__image {
  padding: 2rem 4rem;
  width: 60%;
}

@media only screen and (max-width: 1385px) {
  .nav__image {
    padding: 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
  .nav__image {
    display: none;
  }
}

.nav__searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__searchBar-input {
  height: 5.5rem;
  width: 45rem;
  padding-inline: 2rem;
  font-size: 2rem;
  border: 1px solid #D4B996;
  outline: none;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  background-color: #FEF9EF;
}

@media only screen and (max-width: 850px) {
  .nav__searchBar-input {
    width: 50rem;
  }
}

@media only screen and (max-width: 620px) {
  .nav__searchBar-input {
    width: 100%;
  }
}

.nav__searchBar-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3.5rem;
  color: #FEF9EF;
  border: none;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transform: translateX(-5rem);
  -webkit-transform: translateX(-5rem);
  -moz-transform: translateX(-5rem);
  -ms-transform: translateX(-5rem);
  -o-transform: translateX(-5rem);
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .nav__searchBar-btn {
    padding: 1rem 3rem;
  }
}

.nav__searchBar-icon {
  width: 2rem;
  margin-right: 1rem;
  fill: #FEF9EF;
}

.nav__searchBar-btn, .nav__searchBar-icon {
  height: 5.5rem;
  font-size: 1.5rem;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-right: 3rem;
}

.nav__items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  color: #A07855;
  font-weight: bold;
  cursor: pointer;
}

.nav__items-icon {
  width: 4rem;
  margin-right: 1rem;
  fill: #FEF9EF;
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  height: 4rem;
  padding: 1rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

@media only screen and (max-width: 850px) {
  .nav__items-iconP {
    display: none;
  }
}

.nav__items-popup {
  position: absolute;
  top: 100%;
  right: 0;
  width: 35rem;
  background-color: white;
  z-index: 100;
  display: none;
}

.nav__items-popup-item {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1rem 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 5px solid #D4B996;
}

.nav__items-popup-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__items-popup-item-image {
  width: 6rem;
  margin-right: 2rem;
  -webkit-clip-path: circle(43% at 50% 50%);
          clip-path: circle(43% at 50% 50%);
}

.nav__items-popup-item-text h1 {
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background: linear-gradient(to right, #D4B996, #A07855);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.nav__items-popup-item-text p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.nav__items-popup-item-icon {
  width: 3rem;
  fill: #FEF9EF;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  height: 3rem;
  padding: .5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  justify-self: flex-end;
}

@-webkit-keyframes putar {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes putar {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 1100px) {
  .body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.body__spinner {
  width: 5rem;
  height: 5rem;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 49% 50%, 0% 80%, 20% 100%, 49% 50%, 80% 100%, 100% 80%, 49% 50%, 100% 20%, 80% 0%, 49% 50%);
          clip-path: polygon(20% 0%, 0% 20%, 49% 50%, 0% 80%, 20% 100%, 49% 50%, 80% 100%, 100% 80%, 49% 50%, 100% 20%, 80% 0%, 49% 50%);
  background-color: #D4B996;
  animation: putar 2s infinite;
  -webkit-animation: putar 2s infinite;
  margin-top: 5rem;
  margin-inline: auto;
}

.body__item {
  background-color: white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-width: 1100px) {
  .body__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  .body__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.body__list-item {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 3rem 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #D4B996;
  border-top: 1px solid #D4B996;
  cursor: pointer;
}

.body__list-item:hover {
  background-color: #ebebeb;
}

@media only screen and (max-width: 1350px) {
  .body__list-item {
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .body__list-item {
    width: 50%;
    border: 1px solid #D4B996;
    padding-inline: 3rem 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .body__list-item {
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 378px) {
  .body__list-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.body__list-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body__list-item-image {
  width: 6rem;
  margin-right: 2rem;
  -webkit-clip-path: circle(43% at 50% 50%);
          clip-path: circle(43% at 50% 50%);
}

@media only screen and (max-width: 600px) {
  .body__list-item-image {
    display: none;
  }
}

.body__list-item-text h1 {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background: linear-gradient(to right, #D4B996, #A07855);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body__list-item-text p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.body__list-item-icon {
  width: 3rem;
  fill: #FEF9EF;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  height: 3rem;
  padding: .5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  justify-self: flex-end;
}

.body__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

@media only screen and (max-width: 1100px) {
  .body__pagination {
    width: 100vw;
    height: 7rem;
  }
}

.body__pagination-prev, .body__pagination-next {
  background-color: #FEF9EF;
  color: #A07855;
  border: 1px solid #A07855;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}

.body__recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .body__recipe {
    width: 100vw;
  }
}

.body__recipe-imageContainer {
  overflow: hidden;
  height: 40rem;
}

.body__recipe-overlay {
  height: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(212, 185, 150, 0.5)), to(rgba(160, 120, 85, 0.5)));
  background-image: linear-gradient(to right bottom, rgba(212, 185, 150, 0.5), rgba(160, 120, 85, 0.5));
}

.body__recipe-image {
  width: 100%;
  transform: translateY(-35rem);
  -webkit-transform: translateY(-35rem);
  -moz-transform: translateY(-35rem);
  -ms-transform: translateY(-35rem);
  -o-transform: translateY(-35rem);
}

.body__recipe-title {
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  color: white;
  padding: 1rem 3rem;
  position: absolute;
  top: 15rem;
  left: 50%;
  text-align: center;
  transform: skewY(-5deg) translateX(-50%);
  -webkit-transform: skewY(-5deg) translateX(-50%);
  -moz-transform: skewY(-5deg) translateX(-50%);
  -ms-transform: skewY(-5deg) translateX(-50%);
  -o-transform: skewY(-5deg) translateX(-50%);
}

.body__recipe-servings {
  height: 12rem;
  width: 100%;
  padding: 1rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .body__recipe-servings {
    padding: 1rem 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .body__recipe-servings {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 17rem;
  }
}

@media only screen and (max-width: 470px) {
  .body__recipe-servings {
    height: 20rem;
  }
}

.body__recipe-servings-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 600px) {
  .body__recipe-servings-info {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 470px) {
  .body__recipe-servings-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }
}

.body__recipe-servings-infoTime, .body__recipe-servings-infoQty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 300;
}

.body__recipe-servings-icon {
  margin-left: 2rem;
}

.body__recipe-servings-addmin {
  cursor: pointer;
}

.body__recipe-servings-btn-icon {
  width: 5rem;
  margin-right: 1rem;
  fill: #FEF9EF;
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  height: 5rem;
  padding: 1rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .body__recipe-servings-btn-icon {
    margin-bottom: 2rem;
  }
  .body__recipe-servings-btn-icon:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.body__recipe-ingredient {
  margin-top: 8rem;
}

.body__recipe-ingredient-header {
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background: linear-gradient(to right, #D4B996, #A07855);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.body__recipe-ingredient-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
  width: 70rem;
  font-size: 2rem;
  gap: 3rem;
  padding: 3rem;
}

@media only screen and (max-width: 560px) {
  .body__recipe-ingredient-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
  }
}

.body__recipe-ingredient-listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__recipe-ingredient-icon {
  width: 2.5rem;
  fill: #A07855;
  height: 2.5rem;
  margin-right: 2rem;
}

.body__recipe-howToCook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-top: 10rem;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 500px) {
  .body__recipe-howToCook {
    width: 80%;
  }
}

.body__recipe-howToCook-header {
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background: linear-gradient(to right, #D4B996, #A07855);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.body__recipe-howToCook-text {
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-block: 5rem;
}

.body__recipe-howToCook-text span {
  font-weight: bold;
}

.body__recipe-howToCook-btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  color: white;
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  height: 7rem;
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
  color: #FEF9EF;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .footer {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    height: 9rem;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(212, 185, 150, 0.5)), to(rgba(160, 120, 85, 0.5)));
  background-image: linear-gradient(to right bottom, rgba(212, 185, 150, 0.5), rgba(160, 120, 85, 0.5));
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.overlay__form {
  background-color: white;
  width: 60%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 2rem;
  padding: 3rem;
  position: relative;
  border: 5px solid #A07855;
}

@media only screen and (max-width: 1350px) {
  .overlay__form {
    width: 70%;
  }
}

@media only screen and (max-width: 1030px) {
  .overlay__form {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .overlay__form {
    width: 90%;
    gap: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .overlay__form {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .overlay__form {
    padding: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .overlay__form {
    width: 95%;
  }
}

.overlay__form-recipeData, .overlay__form-ingredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

@media only screen and (max-width: 700px) {
  .overlay__form-recipeData, .overlay__form-ingredient {
    border: 5px solid rgba(160, 120, 85, 0.5);
  }
}

.overlay__form-recipeData-header, .overlay__form-ingredient-header {
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background: linear-gradient(to right, #D4B996, #A07855);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1rem;
}

.overlay__form-recipeData-inputField, .overlay__form-ingredient-inputField {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 80%;
}

.overlay__form-recipeData-label, .overlay__form-ingredient-label {
  font-size: 1.8rem;
}

.overlay__form-recipeData-input, .overlay__form-ingredient-input {
  height: 3rem;
  outline: none;
  border: 1px solid #D4B996;
}

.overlay__form-upload {
  grid-column: 1/-1;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  color: #FEF9EF;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 700px) {
  .overlay__form-upload {
    margin-top: 2rem;
  }
}

.overlay__form-upload-icon {
  fill: #FEF9EF;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.overlay__form-close {
  background-color: none;
  border: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4B996), to(#A07855));
  background-image: linear-gradient(to right, #D4B996, #A07855);
  padding: .5rem 1rem;
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

@media only screen and (max-width: 700px) {
  .overlay__form-close {
    top: 2rem;
    right: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */