.footer{
    background-image: $primary-linear-color;
    height: 7rem;
    width: 100%;
    line-height: 7rem;
    font-size: 1.7rem;
    text-align: center;
    color: $secondry-color;
    font-weight: bold;
}