.nav{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
    align-items: center;
    justify-items: center;
    padding: 1rem 3rem 1rem 1rem;
    position: relative;
    width: 100%;

    @media only screen and (max-width: 1385px){
        grid-template-columns: 1fr 2.5fr 2fr;
    }

    @media only screen and (max-width: 1080px){
        grid-template-columns: 2fr 1.5fr;
        padding: 3rem;
    }

    @media only screen and (max-width: 850px){
        grid-template-columns: 3fr 1fr;
    }

    &__image{
        padding: 2rem 4rem;
        width: 60%;

        @media only screen and (max-width: 1385px){
            padding: 2rem;
            width: 100%;
        }

        @media only screen and (max-width: 1080px){
            display: none;
        }
    }

    &__searchBar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-input{
            height: 5.5rem;
            width: 45rem;
            padding-inline: 2rem;
            font-size: 2rem;
            border: 1px solid $primary-color;
            outline: none;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
            background-color: $secondry-color;

            @media only screen and (max-width: 850px){
                width: 50rem;
            }

            @media only screen and (max-width: 620px){
                width: 100%;
            }
        }

        &-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 3.5rem;
            color: $secondry-color;
            border: none;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
            transform: translateX(-5rem);
            -webkit-transform: translateX(-5rem);
            -moz-transform: translateX(-5rem);
            -ms-transform: translateX(-5rem);
            -o-transform: translateX(-5rem);
            background-image: $primary-linear-color;
            cursor: pointer;

            @media only screen and (max-width: 400px){
                padding: 1rem 3rem;
            }
        }

        &-icon{
            width: 2rem;
            margin-right: 1rem;
            fill: $secondry-color;
        }
        &-btn, &-icon{
            height: 5.5rem;
            font-size: 1.5rem;
        }
    }

    &__items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-right: 3rem;

        &-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: $thrid-color;
            font-weight: bold;
            cursor: pointer;
        }

        &-icon{
            width: 4rem;
            margin-right: 1rem;
            fill: $secondry-color;
            font-size: 2rem;
            background-image: $primary-linear-color;
            height: 4rem;
            padding: 1rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
        }

        &-iconP{
            @media only screen and (max-width: 850px){
                display: none;
            }
        }

        &-popup{
            position: absolute;
            top: 100%;
            right: 0;
            width: 35rem;
            background-color: white;
            z-index: 100;
            display: none;

            &-item{
                height: 10rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 1rem 2rem;
                flex-direction: row;
                border: 5px solid $primary-color;

                &-left{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                }
                
                &-image{
                    width: 6rem;
                    margin-right: 2rem;
                    clip-path: circle(43% at 50% 50%);
                }

                &-text{

                    h1{
                        font-size: 3rem;
                        background: $primary-linear-color;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        text-align: center;
                    }

                    p{
                        font-size: 1.5rem;
                        color: rgba(black, .7);
                        text-align: center;
                    }
                }

                &-icon{
                    width: 3rem;
                    fill: $secondry-color;
                    background-image: $primary-linear-color;
                    height: 3rem;
                    padding: .5rem;
                    border-radius: 10rem;
                    -webkit-border-radius: 10rem;
                    -moz-border-radius: 10rem;
                    -ms-border-radius: 10rem;
                    -o-border-radius: 10rem;
                    justify-self: flex-end;
                }
            }
        }
    }
}